<section class="banner-card container-fuild">
    <div class="techfolk-row">
        <div class="tech-col-6">
            <div class="text-banner">
                <h1>Techfolk Solutions</h1>
                <br> <br>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem totam ad. Omnis itaque aliquid
                cumque consequuntur illo totam natus rerum pariatur reprehenderit? Quis, sit laboriosam itaque eligendi
                perferendis eius?</P>
                <br>
                <button class="tech-btn" (click)="routerLink()"><mat-icon style="font-size: 30px;">arrow_forward_ios</mat-icon></button>
            </div>
        </div>
        <div class="tech-col-6">
            <div class="teck-img">
                <img src="assets/images/teckbanner.png" alt="">
            </div>
        </div>
    </div>
</section>