<section class="container-fuild color">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <h2 style="text-align: center;">Adhaar Card Documentation</h2>
            <div class="col-lg-3" style="text-align: center;">
                <img src="assets/icons/adhaar.png" alt="">
            </div>
            <div class="col-lg-9">
                <mat-tab-group>
                    <mat-tab label="JSON View"><app-adhaar-json></app-adhaar-json></mat-tab>
                    <mat-tab label="Formatted View"><app-adhaar-view></app-adhaar-view></mat-tab>
                    <mat-tab label="Image View"><app-adhaar-view></app-adhaar-view></mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</section>

<br><br><br>


<section class="container-fuild color" style="background-color: aquamarine;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <h2 style="text-align: center;">Adhaar Card Documentation</h2>
            <div class="col-lg-3" style="text-align: center;">
                <img src="assets/icons/pan.png" alt="">
            </div>
            <div class="col-lg-9">
                <mat-tab-group>
                    <mat-tab label="JSON View"><app-adhaar-json></app-adhaar-json></mat-tab>
                    <mat-tab label="Formatted View"><app-adhaar-view></app-adhaar-view></mat-tab>
                    <mat-tab label="Image View"><app-adhaar-view></app-adhaar-view></mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</section>

<br><br><br>


<section class="container-fuild color" style="background-color: rgb(38, 144, 244);">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <h2 style="text-align: center;">Adhaar Card Documentation</h2>
            <div class="col-lg-3" style="text-align: center;">
                <img src="assets/icons/voterid.png" alt="">
            </div>
            <div class="col-lg-9">
                <mat-tab-group>
                    <mat-tab label="JSON View"><app-adhaar-json></app-adhaar-json></mat-tab>
                    <mat-tab label="Formatted View"><app-adhaar-view></app-adhaar-view></mat-tab>
                    <mat-tab label="Image View"><app-adhaar-view></app-adhaar-view></mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</section>